<frontend-stepper-practice *ngIf="skillData && skillData.question.length !== 0" (checkClick)="checkResponse($event)" (nextClick)="nextStep()" (saveclick)="null" [status]="status" [saving]="saving" [progress]="progress" linear>
  <cdk-step *ngFor="let question of skillData.question; let i = index;" [completed]="getQuestionForm(i).valid">
    <div *ngIf="question.type === 2">
      <h3 class="font-weight-bold mb-4">{{ question.question }}</h3>

    </div>
    <div *ngIf="question.type === 4">
      <h3 class="font-weight-bold mb-4">{{ question.question }}</h3>
      <div class="form-row">
        <div *ngFor="let option_question of question.option_question" class="col-md-4">
          <label>
            <input type="radio" [formControl]="getQuestionForm(i + '.0')" (click)="textToVoice(option_question.option.name)" [value]="option_question">
            <div class="card card-button w-100">
              <div class="card-body">
                <div class="mx-3">
                  <img class="w-100" [src]="option_question.option.url">
                </div>
                <h6 class="mt-3">{{ option_question.option.name }}</h6>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="question.type === 5">
      <h3 class="font-weight-bold mb-4">{{ question.question }}</h3>

    </div>
    <div *ngIf="question.type === 6">
      <h3 class="font-weight-bold mb-4">{{ question.question }}</h3>
      
    </div>
  </cdk-step>
</frontend-stepper-practice>
<div *ngIf="skillData && skillData.question.length === 0">
  hola d mar no hay nada aquí xd
</div>