@import '../../../../../../libs/theme/variables.scss';

.card-button {
    cursor: pointer;
    .card-body {
        padding: 1.75rem 1.5rem;
    }
    &:hover {
        background-color: #F7F7F7;
    }
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked + .card-button {
    border-color: $primary-light;
    color: $primary;
    background-color: RGBA(58, 85, 125, 0.1);
}