@import '../../../../../../libs/theme/variables.scss';

.card-text {
    width: auto;
    cursor: pointer;
    user-select: none;
    text-align: center;
    .card-body {
        padding: 18px 24px;
        i {
            color: $info-dark;
        }
    }
}

.card-button {
    cursor: pointer;
    user-select: none;
    .card-body {
        padding: 1.75rem 1.5rem;
    }
    &:hover {
        background-color: #F7F7F7;
    }

    &.card-button-sm {
        .card-body {
            padding: 12px 16px;
        }
    }
    &.card-button-md {
        .card-body {
            padding: 19px 1.5rem;
        }
    }
}

.button-listen {
    border-radius: 25%;
    min-width: unset;
    padding: 23px 25px;
    &.bg {
        padding: 36px 34px;
    }
    &:after {
        border-radius: 25%;
    }
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked + .card-button {
    border-color: $primary-light;
    color: $primary;
    background-color: RGBA(58, 85, 125, 0.1);
}

.form-row.input {
    min-height: 64px;
    border-top: 2px solid $border-light;
    border-bottom: 2px solid $border-light;
}