<header>
  <nav class="navigation">
    <div class="navigation__logo">
      <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/85a54b84f53cfe25fc8d9ff17e5a60f3.svg" width="40" />
      Aprender
    </div>
    <div class="navigation__items">
      <a class="item item--active">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/b30ce49d39c308bb3031647f31f6c3e9.svg" width="40" />
        <span>Cuentos</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/3a52db17e82dec8386d05d126754cefd.svg" width="40" />
        <span>Discutir</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/25f750f861cdffc01551d728938be59b.svg" width="40" />
        <span>Tienda</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/d3f3ad5d80a9a934e00054f56ec5fbe9.svg" width="40" />
        <span>mas</span>
      </a>
    </div>
    <div class="navigation__action">
      <a class="lingots">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/aed279fcbad509208b45ca7a17f3e8dc.svg" />
        <span>6</span>
      </a>
      <a class="avatar">
        <img src="https://s3.amazonaws.com/duolingo-images/avatar/default_2/medium" />
      </a>
    </div>
  </nav>
</header>
<main>

  <div class="double-layout">
    <div class="steps">
      <div class="topic">
        <div class="topic__head">

          <div class="separator"></div>
          <div class="image">
            <img src="//d35aaqx5ub95lt.cloudfront.net/images/checkpoint-castle-complete.svg">
          </div>

        </div>
        <div class="practice">
          <div class="separator"></div>
          <div class="practice__row">
            <div class="skill">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
          </div>
          <div class="practice__row">
            <div class="skill">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
            <div class="skill ">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
          </div>
        </div>
      </div>
      <div class="topic topic--lock">
        <div class="topic__head">

          <div class="separator"></div>
          <div class="image">
            <img src="//d35aaqx5ub95lt.cloudfront.net/images/checkpoint-castle-complete.svg">
          </div>

        </div>
        <div class="practice">
          <div class="separator"></div>
          <div class="practice__row">
            <div class="skill complete">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
            <div class="skill">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
            <div class="skill">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
          </div>
          <div class="practice__row">
            <div class="skill">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
            <div class="skill ">
              <div class="skill__content">
                <div class="circle">
                  <img src="./../assets/img/image.svg" />
                </div>
                <span class="crown">1</span>
              </div>
              <p class="skill__title">hamburguesa</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="cards">
      aa
    </div>
  </div>
</main>