@import '../../../../../../../../libs/theme/variables.scss';

.primary-outline {
    &:after {
        border-color: #e5e5e5;
    }
}

.btn-icon {
    color: #afafaf;
    &:hover {
        color: $border-dark;
    }
}

.session_name {
    color: #afafaf;
    font-size: 22px;
    font-weight: 700;
}