<header>
  <nav class="navigation">
    <div class="navigation__items">
      <a class="item item--active">
        <img src="assets/svg/learn.svg" width="40" />
        <span>Aprender</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/b30ce49d39c308bb3031647f31f6c3e9.svg" width="40" />
        <span>Cuentos</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/3a52db17e82dec8386d05d126754cefd.svg" width="40" />
        <span>Discutir</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/25f750f861cdffc01551d728938be59b.svg" width="40" />
        <span>Tienda</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/d3f3ad5d80a9a934e00054f56ec5fbe9.svg" width="40" />
        <span>mas</span>
      </a>
    </div>
    <div class="navigation__action">
      <a class="lingots">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/aed279fcbad509208b45ca7a17f3e8dc.svg" class="rounded-circle " />
        <span>84</span>
      </a>

      <a class="avatar" *ngIf="sAuth0.user$ | async as user"
        (click)="sAuth0.logout({ returnTo: document.location.origin })">
        <img [src]="user.picture" [alt]="user.name" class="img-thumbnail">
      </a>
      <a class="avatar" *ngIf="!sAuth0.user$ | async as user"
        (click)="sAuth0.logout({ returnTo: document.location.origin })">
        <img src="https://s3.amazonaws.com/duolingo-images/avatar/default_2/medium" />
      </a>
    </div>
  </nav>
</header>
<main class="row justify-content-center mt-4 mb-4">
  <div class="col col-md-7 col-lg-7 col-sm-12 col-xs-12">
    <!--Listado de unidades-->
    <div class="mt-3" *ngFor="let unidad of unidades;">
      <!--Listado de secciones por unidad-->
      <div class="row d-flex justify-content-center" *ngFor="let seccion of unidad.section;">
        <div class="sesion__row">
          <div class="d-flex justify-content-center">
            <!--Listado de sesiones por seccion-->
            <div class="sesion m-3" *ngFor="let sesion of seccion.session;">
              <!-- Circulos de Sesion -->
              <div [ngClass]="(sesion.progress.length > 0 && sesion.progress[0].status == 1) ? 'complete' : null"
                [ngbPopover]="popContent" autoClose="outside" placement="bottom" popoverClass="session_popover {{ sesion.class }}">
                <!-- Caja alrededor del circulo de sesion-->
                <div class="sesion__content" >
                  <!--Imagen interna del circulo de sesion-->
                  <div [class]="sesion.class">
                    <img src="./../assets/svg/{{sesion.url}}" class="rounded-circle" />
                  </div>
                  <!--Numero flotante de la sesion-->
                  <span class="crown">{{sesion.number}}</span>
                </div>
                <!--Nombre debajo del circulo de sesion-->
                <p class="text-center font-weight-bold mt-1">{{sesion.name}}</p>
              </div>
              <!-- Popover -->
              <ng-template #popContent>
                <div class="session_popover_content">
                  <div class="row">
                    <div class="col-12">
                      <p class="mb-0"><b>Unidad {{ unidad.number }}</b></p>
                      <p>Sessión {{ sesion.number }}: {{ sesion.name }}</p>
                    </div>
                    <div class="col-12">
                      <button class="button primary-outline transparent w-100 mb-2">Ver clase</button>
                    </div>
                    <div class="col-12">
                      <button class="button btn-white w-100">Practicar</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-4">
        <img *ngIf="unidad.status == 0" src="//d35aaqx5ub95lt.cloudfront.net/images/checkpoint-castle-complete.svg"
          class="image" />
        <img *ngIf="unidad.status == 1" src="//d35aaqx5ub95lt.cloudfront.net/images/checkpoint-castle-unlocked.svg"
          class="image__complete" />
        <p class="font-weight-bold mt-2">Unidad {{unidad.number}}</p>
      </div>
    </div>
  </div>
  <div class="col col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-content p-4">
            <img src="//d35aaqx5ub95lt.cloudfront.net/images/leagues/placeholder.svg">
            <p class="font-weight-bold">¡Participa en las Ligas!</p>
            <p class="container__paragraph">Completa 10 lecciones más para empezar a competir.</p>
          </div>
          <div class="card__container">
            <div class="container__titles">
              <div class="title__left">Progreso de EXP</div>
              <div class="title__right">CAMBIAR META</div>
            </div>
            <div class="container__content">
              <div class="content__left">
                <img src="//d35aaqx5ub95lt.cloudfront.net/images/chest-closed.svg" />
              </div>
              <div class="content__rigth">
                <h5>Meta diaria</h5>
                <div class="progress__div">
                  <div class="progress__bar"></div>
                  <div class="progress__status">
                    0/20 EXP
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>