

header {
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
}

.navigation {
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-weight: bold;
    text-transform: uppercase;
    color: #1cb0f6;
    font-size: 15px;
    font-weight: 700;
  }

  &__items {
    display: flex;
    gap: 30px;

    .item {
      color: #afafaf;
      cursor: pointer;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      transition: 400ms;

      span {
        margin-left: 10px;
      }

      &:hover {
        color: #3c3c3c;
      }

      @media (max-width: 1050px) {
        img {
          display: none;
        }
      }
    }

    .item--active {
      color: #3c3c3c;
    }

    @media (max-width: 768px) {
      display: set;
      justify-content: center;
      align-items: center;
      position: static;
      width: 100%;
      height: 70px;
      bottom: 0;
      padding: 0;
      margin-left: -24px;
      gap: 30px;
      border-top: 2px solid #e5e5e5;

      .item {
        img {
          display: inline-block;
        }

        span {
          display: none;
        }
      }
    }
  }

  &__action {
    display: flex;
    gap: 30px;

    .lingots {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #ff4b4b;
      font-weight: 700;
      cursor: pointer;
    }

    .avatar {
      cursor: pointer;

      img {
        width: 36px;
        border-radius: 50%;
      }
    }
  }
}

main {
  max-width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

//CONFIGURACION DE UNIDADES
.image{
  width: 70px;
  height: 70px;
  cursor: pointer;
  &__complete{
    width: 50px;
    height: 50px;
  }
}

.sesion__row {
  //Circulo con el icono y texto
  .sesion{
    cursor: pointer;
    //Icono de numero del circulo
    .crown {
      position: absolute;
      bottom: 0;
      right: -10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: white;
    }

    &__content {
      width: 110px;
      height: 110px;
      border: 10px solid #e5e5e5;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 80px;
    }
  }

  .complete {
    .sesion__content {
      border: 10px solid #ffc107!important;
    }
  }
}