<header>
  <nav class="navigation">
    <div class="navigation__items">
      <a class="item item--active">
        <img src="assets/svg/learn.svg" width="40" />
        <span>Aprender</span>
      </a>
      <!-- <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/b30ce49d39c308bb3031647f31f6c3e9.svg" width="40" />
        <span>Cuentos</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/3a52db17e82dec8386d05d126754cefd.svg" width="40" />
        <span>Discutir</span>
      </a>
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/25f750f861cdffc01551d728938be59b.svg" width="40" />
        <span>Tienda</span>
      </a> -->
      <a class="item">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/d3f3ad5d80a9a934e00054f56ec5fbe9.svg" width="40" />
        <span>mas</span>
      </a>
    </div>
    <div class="navigation__action">
      <a class="lingots">
        <img src="https://d35aaqx5ub95lt.cloudfront.net/vendor/aed279fcbad509208b45ca7a17f3e8dc.svg" class="rounded-circle " />
        <span>84</span>
      </a>

      <a class="avatar">
        <img src="https://avatars.githubusercontent.com/u/27701073?v=4" alt="user" class="img-thumbnail">
      </a>
    </div>
  </nav>
</header>
<main class="row justify-content-center w-100 my-4">
  <div class="col col-md-7 col-lg-7 col-sm-12 col-xs-12">
    <router-outlet></router-outlet>
  </div>
  <div class="col col-md-4 col-lg-4 col-sm-12 col-xs-12">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="position-relative">
          <div class="card text-center mb-4">
            <div class="card-content p-4">
              <img src="//d35aaqx5ub95lt.cloudfront.net/images/leagues/placeholder.svg">
              <p class="fw-bold">¡Participa en las Ligas!</p>
              <p class="container__paragraph">Completa 10 lecciones más para empezar a competir.</p>
            </div>
          </div>
          <div class="card text-center position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: rgba(255,255,255, 0.7);">
            <div class="card-content p-4">
              <p class="fw-bold">Muy pronto ...</p>
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div class="card text-center mb-4">
            <div class="card-body p-4">
              <div class="container__titles mb-3">
                <div class="title__left">Progreso de EXP</div>
                <div class="title__right">CAMBIAR META</div>
              </div>
              <div class="container__content">
                <div class="content__left">
                  <img src="//d35aaqx5ub95lt.cloudfront.net/images/chest-closed.svg" />
                </div>
                <div class="content__rigth ms-3">
                  <div class="w-100">
                    <h5>Meta diaria</h5>
                    <div class="progress__div">
                      <div class="progress__bar"></div>
                      <div class="progress__status">
                        0/20 EXP
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-center position-absolute top-0 w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: rgba(255,255,255, 0.7);">
            <div class="card-content p-4">
              <p class="fw-bold">Muy pronto ...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>