<frontend-navigation-landing></frontend-navigation-landing>
<div class="position-absolute d-none d-lg-block" style="z-index: -1; right: 0; height: 100%;">
    <lottie-player src="assets/json/blogging.json" background="transparent"  speed="1"  style="width: 900px;" loop autoplay></lottie-player>
</div>
<main class="content main">
    <div class="annotation">
        <div class="putch">!</div>
        <span class="message">La mejor web de aprendizaje online</span>
    </div>
    <h2 class="title">En <span class="text-primary">Edulingo</span> aprendes <br/> a tu ritmo.</h2>
    <p class="description">
        Si quieres triunfar, no te quedes mirando la escalera. Empieza a subir, escalón por escalón, hasta que llegues a la cima.</p>
    <button class="button primary-outline play"><i class="fas fa-play"></i>Saber Más</button>
</main>
<div class="container-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xxl-10">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center me-5 fw-bold mb-4">Gamificación pura en cada lección</h3>
                </div>
                <div class="col-6 px-4 py-2">
                    <div class="card border-0">
                        <div class="card-body d-flex p-3">
                            <img class="pe-3 pb-5" style="width: 100px;" src="//d35aaqx5ub95lt.cloudfront.net/images/splash/a4d5fab3d1926c240cb2ae696b07d156.svg">
                            <div>
                                <h5 class="card-title mb-2 fw-bold">Aprendizaje adaptativo</h5>
                                <p class="card-text">Las lecciones de Edulingo se adaptan a tu estilo de aprendizaje. Los ejercicios son ajustados para ayudarte a aprender y repasar vocabulario efectivamente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 px-4 py-2">
                    <div class="card border-0">
                        <div class="card-body d-flex p-3">
                            <img class="pe-3 pb-5" style="width: 100px;" src="//d35aaqx5ub95lt.cloudfront.net/images/splash/ebdcc22deaf0f85388fcb09e7ecfbe78.svg">
                            <div>
                                <h5 class="card-title mb-2 fw-bold">Motivación con recompensas</h5>
                                <p class="card-text">Gana logros virtuales, desbloquea nuevos niveles, y mira tu puntaje de competencias crecer mientras aprendes nuevas palabras frases y gramáticas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 px-4 py-2">
                    <div class="card border-0">
                        <div class="card-body d-flex p-3">
                            <img class="pe-3 pb-5" style="width: 100px;" src="//d35aaqx5ub95lt.cloudfront.net/images/feature-check.svg">
                            <div>
                                <h5 class="card-title mb-2 fw-bold">Recibe tu puntaje inmediatamente</h5>
                                <p class="card-text">Instantaneamente mira que respuestas fueron correctas. Cuando fallas una lección, te mostraremos rápidamente donde y como debes mejorar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 px-4 py-2">
                    <div class="card border-0">
                        <div class="card-body d-flex p-3">
                            <img class="pe-3 pb-5" style="width: 100px;" src="//d35aaqx5ub95lt.cloudfront.net/images/feature-streak.svg">
                            <div>
                                <h5 class="card-title mb-2 fw-bold">Mejora rápidamente</h5>
                                <p class="card-text">Edulingo funciona. Un estudio ha mostrado que 34 horas de Edulingo son iguales a 1 semestre de clases de inglés.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>