<frontend-navigation-landing></frontend-navigation-landing>
<main class="content main">
    <div class="annotation">
        <div class="putch">Putch</div>
        <span class="message">The best online learning platform</span>
    </div>
    <h2 class="title">En <span>Edulingo</span> aprendes <br/> a tu ritmo</h2>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque commodi provident, corrupti doloremque assumenda laboriosam mollitia aperiam deserunt?</p>
    <button class="button primary-outline play">Saber mas <i class="fas fa-play"></i></button>
</main>