<frontend-navigation-landing></frontend-navigation-landing>
<main class="content main">
    <div class="annotation">
        <div class="putch">Nuevo</div>
        <span class="message">La mejor web de aprendizaje online</span>
    </div>
    <h2 class="title">En <span class="text-primary">Edulingo</span> aprendes <br/> a tu ritmo.</h2>
    <p class="description">
        Si quieres triunfar, no te quedes mirando la escalera. Empieza a subir, escalón por escalón, hasta que llegues a la cima.</p>
    <button class="button primary-outline play"><i class="fas fa-play"></i>Saber Más</button>
</main>