@import '/libs/theme/variables.scss';

*{
    margin: 0;
}

body {
    color: #3c3c3c;
}

.content{
    padding: 10px 40px;
}

.button{
    cursor: pointer;
    border:none;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: 300ms;
    
}

// Primary buttons [outline]

.text-primary {
    color: $primary !important;
}

.primary-outline{
    border:2px solid $primary;
    background-color: $white;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: $white;
    }
}

.primary-simple{
    border:2px solid transparent;
    background-color: $white;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: $white;
    }
}

.img-thumbnail {
    padding: .10rem;
    border: 2px solid #dee2e6;
}

.bg-primary {
    background-color: $primary-light !important;
}

.card {
    border: 2px solid $border-light;
    border-radius: 16px;
}