@import '../../../../../libs/theme/variables.scss';

*:not(.fa, .fas, .far) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body {
    color: #3c3c3c;
}

img {
    pointer-events: none;
}

.content{
    padding: 10px 40px;
}

.button{
    cursor: pointer;
    border:none;
    padding: 6px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    &.bg {
        padding: 12px 18px;
    }
}

// Primary buttons [outline]

.text-primary {
    color: $primary !important;
}

.btn-white {
    border: solid;
    border-radius: 16px;
    border-width: 0 0 4px;
    border-color: transparent;
    background-color: $white-50;
    color: $primary;
    transform: translateZ(0);
    &:after {
        content: "";
        background-color: white;
        border-width: 0 0 4px;
        border-color: transparent;
        border-radius: 16px;
        background-clip: padding-box;
        border-style: solid;
        position: absolute;
        z-index: -1;
        bottom: -4px;
        left: 0;
        right: 0;
        top: 0;
    }
    &:hover {
        color: $primary-light;
    }
    &:active {
        background: none;
        border-width: 4px 0 0;
    }
}

.primary-outline {
    border: solid;
    border-radius: 16px;
    border-width: 2px 2px 4px;
    border-color: transparent;
    background-color: transparent;
    color: $primary;
    transform: translateZ(0);
    &:after {
        content: "";
        background-color: transparent;
        border-width: 2px 2px 4px;
        border-color: $primary;
        border-radius: 16px;
        background-clip: padding-box;
        border-style: solid;
        position: absolute;
        z-index: -1;
        bottom: -4px;
        left: -2px;
        right: -2px;
        top: -2px;
    }
    &.transparent {
        color: white;
        &:after {
            border-color: rgba(0,0,0,.2);
        }
        &:hover {
            color: white;
            filter: opacity(80%);
        }
        &.transparent-text {
            color: rgba(0,0,0,.3);
            &:after {
                border-color: rgba(0,0,0,.2);
            }
            &:hover {
                color: rgba(0,0,0,.3);
                filter: opacity(80%);
            }
            &.bg {
                min-width: 150px;
                padding: 11px 18px;
            }
        }
    }
    &:hover{
        color: $primary-light;
    }
    &:active {
        background: none;
        border-width: 4px 2px 2px;
        &:after {
            border-bottom-width: 2px;
            bottom: -2px;
        }
    }
}

.success-solid {
    border: solid;
    border-radius: 16px;
    border-width: 0px 0px 4px;
    border-color: transparent;
    background-color: $success;
    color: white;
    transform: translateZ(0);
    min-width: 150px;
    &:after {
        content: "";
        background-color: $success-light;
        border-width: 0px 0px 4px;
        border-color: transparent;
        border-radius: 16px;
        background-clip: padding-box;
        border-style: solid;
        position: absolute;
        z-index: -1;
        bottom: -4px;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    &:hover {
        color: $white-90;
    }
    &:active {
        background: none;
        border-width: 4px 0px 0px;
        &:after {
            border-bottom-width: 2px;
            bottom: -2px;
        }
    }
    &:disabled {
        color: #AFAFAF !important;
        background-color: $border !important;
        &:after {
            background-color: #E5E5E5;
        }
    }
}

.info-solid {
    border: solid;
    border-radius: 16px;
    border-width: 0px 0px 4px;
    border-color: transparent;
    background-color: $info;
    color: white;
    transform: translateZ(0);
    min-width: 150px;
    &:after {
        content: "";
        background-color: $info-light;
        border-width: 0px 0px 4px;
        border-color: transparent;
        border-radius: 16px;
        background-clip: padding-box;
        border-style: solid;
        position: absolute;
        z-index: -1;
        bottom: -4px;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    &:hover {
        color: $white-90;
    }
    &:active {
        background: none;
        border-width: 4px 0px 0px;
        &:after {
            border-bottom-width: 2px;
            bottom: -2px;
        }
    }
    &:disabled {
        color: #AFAFAF !important;
        background-color: $border !important;
        &:after {
            background-color: #E5E5E5;
        }
    }
}

.danger-solid {
    border: solid;
    border-radius: 16px;
    border-width: 0px 0px 4px;
    border-color: transparent;
    background-color: $danger;
    color: white;
    transform: translateZ(0);
    min-width: 150px;
    &:after {
        content: "";
        background-color: $danger-light;
        border-width: 0px 0px 4px;
        border-color: transparent;
        border-radius: 16px;
        background-clip: padding-box;
        border-style: solid;
        position: absolute;
        z-index: -1;
        bottom: -4px;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    &:hover {
        color: $white-90;
    }
    &:active {
        background: none;
        border-width: 4px 0px 0px;
        &:after {
            border-bottom-width: 2px;
            bottom: -2px;
        }
    }
    &:disabled {
        color: #AFAFAF !important;
        background-color: $border !important;
        &:after {
            background-color: #E5E5E5;
        }
    }
}

.primary-simple{
    border:2px solid transparent;
    background-color: white;
    color: $primary;
    &:hover{
        background-color: $primary;
        color: white;
    }
}

.img-thumbnail {
    padding: .10rem;
    border: 2px solid #dee2e6;
}

.bg-primary {
    background-color: $primary-light !important;
}

.card {
    border: 2px solid $border-light;
    border-radius: 16px;
}

.play {
    padding: 0;
    margin: 0;
    width: 160px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    i{
        font-size: .8rem;
    }
}

.session_popover {
    border: 0;
    border-radius: 15px;
    top: 20px !important;
    .arrow {
        &:before {
            border-bottom-color: transparent;
        }
    }
    &.bg-primary {
        .arrow:after {
            border-bottom-color: $primary-light;
        }
        .btn-white {
            color: $primary;
            &:hover {
                color: $primary-light;
            }
        }
    }
    &.bg-success {
        .arrow:after {
            border-bottom-color: $success-light;
        }
        .btn-white {
            color: $success-dark;
            &:hover {
                color: $success;
            }
        }
    }
    &.bg-info {
        .arrow:after {
            border-bottom-color: $info;
        }
        .btn-white {
            color: $info-dark;
            &:hover {
                color: $info;
            }
        }
    }
    &.bg-warning {
        .arrow:after {
            border-bottom-color: $warning;
        }
        .btn-white {
            color: $warning-dark;
            &:hover {
                color: $warning;
            }
        }
    }
    &.bg-danger {
        .arrow:after {
            border-bottom-color: $danger;
        }
        .btn-white {
            color: $danger-dark;
            &:hover {
                color: $danger;
            }
        }
    }
    &.disabled {
        background-color: #F7F7F7 !important;
        border: 2px solid $border-light;
        .popover-body, .btn-white {
            color: #AFAFAF !important;
        }
        .btn-white:after {
            background-color: #E5E5E5;
        }
        .arrow {
            &:after {
                top: 2px;
                border-bottom-color: #f7f7f7;
            }
            &:before {
                border-bottom-color: $border-light;
            }
        }
        .btn-white {
            color: $danger-dark;
            &:hover {
                color: $danger;
            }
        }
    }
    .popover-body {
      color: white;
      padding: 0;
      font-size: 17px;
      .session_popover_content {
        width: 100%;
        padding: 24px 16px;
      }
    }
}