<div class="row">
  <div class="col-md-12">
    <div class="page-wrap d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="display-1 text-primary">505</span>
            <div class="mb-4 lead">Página no implementada.</div>
            <a [routerLink]="['/dash/learn']" class="btn btn-link">Volver al inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
